{% extends 'layout.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container mx-auto py-8 px-4 md:px-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Doctor Profile Section -->
            <div class="bg-white p-6 rounded-lg shadow-lg col-span-2" dir="rtl">
                <h3 class="text-lg font-bold">بیوگرافی</h3>
                <p id="doctor-bio" class="text-gray-600"></p>

                <div class="mt-6">
                    <h4 class="font-semibold text-gray-700">آدرس مطب:</h4>
                    <p id="doctor-address" class="text-gray-600"></p>

                    <h4 class="font-semibold text-gray-700 mt-4">تلفن مطب:</h4>
                    <p id="doctor-phone" class="text-gray-600"></p>
                </div>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg col-span-1 flex flex-col items-center text-center">
                <img id="doctor-image" src="https://via.placeholder.com/100" alt="{{ doctor.name }}" class="w-32 h-32 rounded-full border-4 border-green-400">
                <h2 id="doctor-name" class="text-xl font-bold mt-4"></h2>
                <p id="doctor-degree" class="text-gray-600"></p>
                <p id="doctor-id-code" class="text-sm text-gray-500"></p>
            </div>
        </div>

        <!-- Services Section -->
        <div class="bg-white mt-8 p-6 rounded-lg shadow-lg" dir="rtl">
            <h3 class="text-lg font-bold mb-4">خدمات قابل ارائه</h3>
            <div id="services-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"></div>
        </div>
    </div>

    <script src="/static/js/doctor-prof.js">
    </script>
{% endblock %}
